{% extends "base.html" %}

{% block title %}
    Ustawa {{ act.du_code }}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/act/act.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@3.1.81/build/pdf.min.js"></script>
    <script src="{{ url_for('static', filename='js/act/act.js') }}"></script>
    <script>
        const actDuCode = "{{ act.du_code }}";
        const actId = {{ act.act_id }};
        const actTags = {{ act_tags | tojson }};
        const userRole = "{{ current_user.role.name }}";
        console.log(userRole)
    </script>
{% endblock %}

{% block content %}
    <div class="container-fluid my-3">
        <div class="row">
            <div class="col-lg-6" id="pdf-viewer-container">
                <h5>Podgląd PDF</h5>
                <div id="pdf-viewer" class="border" style="height: 540px;">
                    <div id='act-pdf-viewer-container' style="height: 540px;">
                      </div>
                </div>
            </div>

            <div class="col-lg-6">
                <h5>Tekst wyodrębniony z PDF</h5>
                {% if current_user.role.name in ['admin', 'expert'] %}
                    <textarea id="text-area" class="form-control" rows="22" style="resize: none;">
                {% else %}
                    <textarea id="text-area" class="form-control" rows="22" style="resize: none;" readonly>
                {% endif %}
                    {{ act.text_payload }}
                </textarea>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12">
                <h5>Tagi</h5>
                <div id="tags-container" class="d-flex flex-wrap gap-2 mb-3">
                </div>
                {% if current_user.role.name in ['admin', 'expert'] %}
                    <div class="d-flex">
                        <input type="text" id="new-tag" class="form-control me-2" placeholder="Dodaj nowy tag">
                        <button id="add-tag-button" class="btn btn-primary">Dodaj tag</button>
                    </div>
                    <button id="save-button" class="btn btn-success mt-3">Zapisz zmiany</button>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
